<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ylzs.core.mapper.UserMapper" >
  <resultMap id="BaseResultMap" type="com.ylzs.core.model.User" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="unionid" property="unionid" jdbcType="VARCHAR" />
    <result column="nick_name" property="nickName" jdbcType="VARCHAR" />
    <result column="user_level" property="userLevel" jdbcType="INTEGER" />
    <result column="head_portrait_id" property="headPortraitId" jdbcType="VARCHAR" />
    <result column="dynamic_cover_id" property="dynamicCoverId" jdbcType="VARCHAR" />
    <result column="total_time" property="totalTime" jdbcType="INTEGER" />
    <result column="total_distance" property="totalDistance" jdbcType="INTEGER" />
    <result column="total_altitude" property="totalAltitude" jdbcType="INTEGER" />
    <result column="ip" property="ip" jdbcType="VARCHAR" />
    <result column="source" property="source" jdbcType="TINYINT" />
    <result column="imei" property="imei" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, unionid, nick_name, user_level, head_portrait_id, dynamic_cover_id, total_time, 
    total_distance, total_altitude, ip, source, imei, create_time, update_time, remark
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from ylzs_user
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from ylzs_user
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.ylzs.core.model.User" >
    insert into ylzs_user (id, unionid, nick_name, 
      user_level, head_portrait_id, dynamic_cover_id, 
      total_time, total_distance, total_altitude, 
      ip, source, imei, create_time, 
      update_time, remark)
    values (#{id,jdbcType=VARCHAR}, #{unionid,jdbcType=VARCHAR}, #{nickName,jdbcType=VARCHAR}, 
      #{userLevel,jdbcType=INTEGER}, #{headPortraitId,jdbcType=VARCHAR}, #{dynamicCoverId,jdbcType=VARCHAR}, 
      #{totalTime,jdbcType=INTEGER}, #{totalDistance,jdbcType=INTEGER}, #{totalAltitude,jdbcType=INTEGER}, 
      #{ip,jdbcType=VARCHAR}, #{source,jdbcType=TINYINT}, #{imei,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{remark,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.ylzs.core.model.User" >
    insert into ylzs_user
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="unionid != null" >
        unionid,
      </if>
      <if test="nickName != null" >
        nick_name,
      </if>
      <if test="userLevel != null" >
        user_level,
      </if>
      <if test="headPortraitId != null" >
        head_portrait_id,
      </if>
      <if test="dynamicCoverId != null" >
        dynamic_cover_id,
      </if>
      <if test="totalTime != null" >
        total_time,
      </if>
      <if test="totalDistance != null" >
        total_distance,
      </if>
      <if test="totalAltitude != null" >
        total_altitude,
      </if>
      <if test="ip != null" >
        ip,
      </if>
      <if test="source != null" >
        source,
      </if>
      <if test="imei != null" >
        imei,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="remark != null" >
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="unionid != null" >
        #{unionid,jdbcType=VARCHAR},
      </if>
      <if test="nickName != null" >
        #{nickName,jdbcType=VARCHAR},
      </if>
      <if test="userLevel != null" >
        #{userLevel,jdbcType=INTEGER},
      </if>
      <if test="headPortraitId != null" >
        #{headPortraitId,jdbcType=VARCHAR},
      </if>
      <if test="dynamicCoverId != null" >
        #{dynamicCoverId,jdbcType=VARCHAR},
      </if>
      <if test="totalTime != null" >
        #{totalTime,jdbcType=INTEGER},
      </if>
      <if test="totalDistance != null" >
        #{totalDistance,jdbcType=INTEGER},
      </if>
      <if test="totalAltitude != null" >
        #{totalAltitude,jdbcType=INTEGER},
      </if>
      <if test="ip != null" >
        #{ip,jdbcType=VARCHAR},
      </if>
      <if test="source != null" >
        #{source,jdbcType=TINYINT},
      </if>
      <if test="imei != null" >
        #{imei,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ylzs.core.model.User" >
    update ylzs_user
    <set >
      <if test="unionid != null" >
        unionid = #{unionid,jdbcType=VARCHAR},
      </if>
      <if test="nickName != null" >
        nick_name = #{nickName,jdbcType=VARCHAR},
      </if>
      <if test="userLevel != null" >
        user_level = #{userLevel,jdbcType=INTEGER},
      </if>
      <if test="headPortraitId != null" >
        head_portrait_id = #{headPortraitId,jdbcType=VARCHAR},
      </if>
      <if test="dynamicCoverId != null" >
        dynamic_cover_id = #{dynamicCoverId,jdbcType=VARCHAR},
      </if>
      <if test="totalTime != null" >
        total_time = #{totalTime,jdbcType=INTEGER},
      </if>
      <if test="totalDistance != null" >
        total_distance = #{totalDistance,jdbcType=INTEGER},
      </if>
      <if test="totalAltitude != null" >
        total_altitude = #{totalAltitude,jdbcType=INTEGER},
      </if>
      <if test="ip != null" >
        ip = #{ip,jdbcType=VARCHAR},
      </if>
      <if test="source != null" >
        source = #{source,jdbcType=TINYINT},
      </if>
      <if test="imei != null" >
        imei = #{imei,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ylzs.core.model.User" >
    update ylzs_user
    set unionid = #{unionid,jdbcType=VARCHAR},
      nick_name = #{nickName,jdbcType=VARCHAR},
      user_level = #{userLevel,jdbcType=INTEGER},
      head_portrait_id = #{headPortraitId,jdbcType=VARCHAR},
      dynamic_cover_id = #{dynamicCoverId,jdbcType=VARCHAR},
      total_time = #{totalTime,jdbcType=INTEGER},
      total_distance = #{totalDistance,jdbcType=INTEGER},
      total_altitude = #{totalAltitude,jdbcType=INTEGER},
      ip = #{ip,jdbcType=VARCHAR},
      source = #{source,jdbcType=TINYINT},
      imei = #{imei,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      remark = #{remark,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>